.App {
  background-color: #ffe8cd;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.content {
  width: 300px;
  background-color: rgb(255, 255, 255);
  transition: all 0.25s ease-in-out;
}
.content:hover {
  transform: scale(1.1);
}
.like-button,
.dislike-button {
  font-size: 1rem;
  padding: 5px 10px;
  color: #05050558;
  background-color: #fdead5;
  margin: 10px;
  border: none;
}

.liked,
.disliked {
  font-weight: 600;
  color: #1565c0;
}
